/* @import "https://unpkg.com/open-props"; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}
.container{
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

 

h1 {
    text-align: center;
    margin: 20px 0;
    padding: 10px;
    font-weight: 600;
    background-image: linear-gradient(to left, #553c9a, #b393d3);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 2.5rem;
    /* border-radius: 8px; */
}

.categories{
    display: flex;
}
.cate{
    display: flex;
    margin-top: 20px;
    margin-left: 420px;
    gap: 30px;
    /* font-size: 24px;
    font-weight: 700; */
}
.HH{
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    height: 40px;
    border-radius: 10px;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.card{
    width: 32%;
    overflow: hidden;
    position: relative; 
    margin-bottom: 20px;
    border-radius: 10px;
}

img{
    /* width: 100%;
    height: 100%; */
    height:400px;
    width: 400px;
    filter: grayscale(100%);
    box-shadow: 0 0 20px #333;
    
}
.card:hover{
    transform: scale(1.03);
    transition: 0.5s; 
    filter: drop-shadow(0 0 10px #333);
}
img:hover{
    filter: grayscale(0%);
}

figcaption{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px;
    width: 100%;
    height: 20%;
    opacity: 0;
    font-size: 16px;
    font-weight: 500;
    border-radius: 0 0 10px 10px;
    color: white;
    transition: 0.5s;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);  
    
}
.card:hover figcaption{
    opacity: 1;
    transform: scale(1.03);
}






/* .cate button{
    display: inline-block;
    outline: 0;
    border:0;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    color: #000;
    background: #fff;
    line-height: 8px;
    border-radius: 40px;
    padding: 12px 18px;
    font-size: 18px;
    font-weight: 600;
    box-shadow: rgb(255, 198, 0) -2px -2px 0px 2px, rgb(246, 84, 174) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
    transition: all 0.2s;
}
button:hover{
    box-shadow: rgb(246, 84, 174) -2px -2px 0px 2px, rgb(255, 198, 0) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
    transform: scale(1.01);
} */


.cate button{
    
  /* background-color: #c2fbd7; */
  background-color: rgb(224, 200, 200);
  border-radius: 100px;
  box-shadow: rgb(224, 200, 200) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: rgb(54, 53, 53);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 500ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
/* rgba(44,187,99,.35) */
button:hover {
  /* box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.35) 0 1px 2px,rgba(44,187,99,.35) 0 2px 4px,rgba(44,187,99,.35) 0 4px 8px,rgba(44,187,99,.35) 0 8px 16px,rgba(44,187,99,.35) 0 16px 32px; */
  transform: scale(1.05) rotate(-1deg);
}






/* Add this CSS for responsiveness */
@media (max-width: 1200px) {
    .container {
        padding: 10px;
    }

    .cate {
        margin-left: 20px;
    }

    .card {
        width: 48%;
    }
}

@media (max-width: 800px) {
    .gallery {
        justify-content: center;
    }

    .card {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .cate {
        /* flex-direction: column; */
        
        flex-wrap: wrap;
        align-items: center;
        margin-left: -200px;
        margin-top: 150px;
        gap: 5px;
    }
    /* h1{
        text-align: center;
        justify-content: center;
    } */

    .cate button {
        margin-bottom: 10px;
        width: 100%;
    }
}



